    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= @release.title %>
                    <small><%= @release.release.strftime("%B %d, %Y") %></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <%= cl_image_tag(@release.cover_url,
                    :width => 750,
                    :height => 750,
                    :crop => :fill,
                    :alt => @release.title,
                    :class => "img-responsive")
                %>
            </div>

            <div class="col-md-4">
                <h3>Description</h3>
                <p><%= @release.summary %></p>
                <h3>Details</h3>
                <ul>
                    <li>Release Date: <%= @release.release.strftime("%B %d, %Y") %></li>
                    <li>Release Type: <%= @release.kind.capitalize %></li>
                    <li>Format: <%= @release.format.upcase %></li>
                    <li><%= link_to 'iTunes', @release.itunes_url %></li>
                    <li><%= link_to 'Amazon', @release.amazon_url %></li>
                    <li><%= link_to 'Bandcamp', @release.bandcamp_url %></li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h3>Tracks</h3>
            </div>

            <div class="col-lg-12">
                <% @release.tracks.each_with_index do |track, index| %>
                    <div class="song-list-item col-lg-12">
                        <% if track.audio_url.present? %>
                            <span class="play-button amplitude-play-pause amplitude-paused" amplitude-song-index="<%= index %>">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                            </span>
                        <% else %>
                            <a class="play-button disabled">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        <% end %>
                        <% if track.song.present? %>
                            <%= link_to track.title, track.song, {class: 'song-title'} %>
                        <% else %>
                            <span class="song-title"><%= track.title %></span>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <!-- /.row -->
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; The Redding Brothers</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->
